/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-drughunter-plans-table {
	.first-column {
		.first-block-button {
			padding-bottom: 1rem;
			.block-editor-rich-text__editable.wp-block-button__link.wp-element-button.rich-text {
				padding: 16px 50px;
				color: #000;
			}
		}
	}
	.second-column {
		.second-block-button {
			padding-bottom: 1rem;
			.block-editor-rich-text__editable.wp-block-button__link.wp-element-button.rich-text {
				padding: 16px 50px;
			}
		}
	}
	.third-column {
		.third-block-button {
			padding-bottom: 1rem;
			.block-editor-rich-text__editable.wp-block-button__link.wp-element-button.rich-text {
				padding: 16px 50px;
				color: #000;
			}
		}
	}
	.editor-styles-wrapper h4 {
		font-size: 4rem;
	}
		
}
